body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
  }
.container {
    width: 300px;
    margin: auto;
}
#app h1 {
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 16px 0;
}
#app #name {
    margin-bottom: 30px;
}
#app .numOfTask {
    color: #bbb;
    font-size: 12px;
}
#app ul {
    padding: 0;
    list-style: none;
}
#app li {
    line-height: 2;
}
#app li > span.done {
    text-decoration: line-through;
    color: #bbb;
}
#app input[type="text"] {
    padding: 2px;
}
#app .btn_delete {
    font-size: 12px;
    cursor: pointer;
    color: #08c;
}