<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Vue App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body style="margin: 5% auto 0">
    <!--
        メモ
        :{{ scriptが使える }}
        :v-model / v-forを「ディレクティブ」と呼ぶ
         :checkboxはv-modelの値がtrueならcheckedになる
         :<hoge v-bind:class="{fuga is_hego}></hoge>"
         :「v-on:」は「@」として書くことができる
    -->
    <div id="app" class="container">
        <h1 class="appName">
            My Todos
            <span class="numOfTask">（{{ remaining }}/{{ todos.length }}）</span>
        </h1>
        <!-- 名前 -->
        <div class="name_block">
            <p class="name">My name is {{ name.toUpperCase() }}.</p>
            <p><input type="text" v-model="name" placeholder="What's your name?"></p>
        </div>
        <!-- タスク -->
        <!-- 条件分岐を使った方法
        <ul v-if="todos.length">
            <li v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.is_done">
                <span :class="{done: todo.is_done}">{{ todo.name }}</span>
                <span @click="deleteTask(index)" class="btn_delete">[×]</span>
            </li>
        </ul>
        <ul v-else>
            <li>you have nothing to do!!</li>
        </ul>
        -->
        <ul>
            <li v-show="!todos.length">you have nothing to do!!</li>
            <li v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.is_done">
                <span :class="{done: todo.is_done}">{{ todo.name }}</span>
                <span @click="deleteTask(index)" class="btn_delete">[×]</span>
            </li>
        </ul>
        <form @submit.prevent="addTask">
            <input type="text" v-model="task">
            <input type="submit" value="Add">
        </form>
    </div>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>